@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App {
  text-align: center;
  padding: 2% 5%;
  background-color: #ffff;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
  background-color: #ffff;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid;
  font-size: 14px;
  font-weight: bolder;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
  background-color: #9caf88;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.details {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #dfe6da;
  cursor: default;

}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #bcdcdb;
}

.event {

  padding: 10px 10px 35px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  position: relative;
  margin-bottom: 10px;
  background-color: #cbd5c0;
}



.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: #758467;
  color: #ffff;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}